<%- partial('_partial/head') %>
<body class="home-template no-js">
    <%- js("//cdn.bootcss.com/jquery/2.1.4/jquery.min.js") %>
    <%- js("js/main.js") %>
    <span class="mobile btn-mobile-menu">
        <i class="fa fa-list btn-mobile-menu__icon"></i>
        <i class="fa fa-angle-up btn-mobile-close__icon hidden"></i>
    </span>

    <%- partial('_partial/side-panel', {}) %>

    <div class="content-wrapper">
        <div class="content-wrapper__inner">
            <%- body %>
            <%- partial('_partial/footer', {}) %>
        </div>
    </div>

    <%- partial('_partial/google_analytics') %>
    <%- partial('_partial/baidu_tongji') %>
    <script async src="https://cdn.bootcss.com/pure.js/2.83/pure.min.js"></script>
    
    <!-- <script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script> -->
    <%- algolia_search() %>
    <%- algolia_search_config() %>
    <script>
        const algoliaConfig = document.querySelector('meta[property="algolia:search"]').dataset;
        console.log(algoliaConfig.applicationId, algoliaConfig.apiKey)
        const client = algoliasearch(algoliaConfig.applicationId, algoliaConfig.apiKey);
        const index = client.initIndex(algoliaConfig.indexName);
        index.search('负载均衡', function(err, content) {
            console.log(123, content.hits);
        });
    </script>
</body>
</html>
